# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Other files
game_jacobtuc
game_jacobtuc.pro
moc_FirstWindowWidget.cpp
moc_MainWindow.cpp
Makefile
moc_SelectCar.cpp
html/
latex/
config.txt
AdminDock.cpp~
moc_AdminDock.cpp
moc_ScoreDoc.cpp
moc_gameplay_window.cpp
StarTrek
StarTrek.pro
moc_GameplayWindow.cpp
moc_NameWidget.cpp
moc_GameOver.cpp
HighScores.txt
moc_HighScoresWin.cpp