# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Other files
game_jacobtuc
game_jacobtuc.pro
moc_FirstWindowWidget.cpp
moc_MainWindow.cpp
Makefile